input#menu-toggle:checked ~ #menu {
    display: block;

}
@media only screen and (max-width: 640px) {
    div#menu{
        display: none;
    }

}
@keyframes opacity-trans{
    0%{opacity:1;}
    50%{opacity:0.5;}
    100%{opacity:0;}

}
.swal2-header{
    font-size: small;
}
#swal2-content{
    font-size: medium;
}
td.border::-webkit-scrollbar{
    background:transparent;
    width: 1px;

}
td.border::-webkit-scrollbar-thumb{
         background: #2d3748;
     border-radius: 5px;
    height: 1px;
}

div#page::-webkit-scrollbar{

    width:10px;
    height: 5px;
}
div#page::-webkit-scrollbar-thumb{
    border-radius: 6px;
    max-height: 2px;
    background: linear-gradient(transparent,#4A4A58);
}
div#page::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}
